
:root {
--text: #6d4808;
--background: #f8e5f8;
--primary: #b48e48;
--secondary: #f894db;
--accent: #ebaddb;
}

div {
  border: 0.5rem outset rgb(240, 169, 222);
  outline: 0.5rem solid rgb(244, 237, 179);
  box-shadow: 0 0 0 2rem rgb(157, 214, 237);
  border-radius: 12px;
  font: bold rem sans-serif;
  margin: 5rem;
  padding: 0rem;
  outline-offset: 0.9rem;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Epunda Slab"
}

h1
h2
h3 {
    color:var(--primary);
    font-family: "Noto Sans";
}

p{
    background:var(--accent);
}

li::marker {
    color:var(--secondary);
}

img {
    padding:4px;
    border:4px solid var(--secondary);
    border-radius: 16px;
    background: var(--primary);
}

audio {
    background: var(--secondary);
}

/* Keyword values */
text-decoration-style: dotted;


/* Global values */
text-decoration-style: inherit;
text-decoration-style: initial;
text-decoration-style: revert;
text-decoration-style: revert-layer;
text-decoration-style: unset;

